#review-header {
    font-family: 'Poppins', sans-serif;
    color: #002B5B;
    width: 100%;
    padding-top: 4em;
    text-align: center;
}

.container {
    max-width: '100%';
    font-family: 'Poppins', sans-serif;
}

#filter-review {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: left;
    transform: scale(85%);
    z-index: 1;
}

.review-header .h1 {
    text-align: center;
    font-size: 18px;
    padding-bottom: 0.5em;
}

.container {
    max-width: 100%;
    padding-left: '2em';
    padding-right: '2em';
}
